<section id="signIn">
    <div class="w-50 m-auto form-row signInForm">
        <div class="form-group col-md-12">
            <label class="text-white text-capitalize font-weight-bolder" for="">email</label>
            <input type="email" name="email" class="form-control">
        </div>
        <div class="form-group col-md-12">
            <label class="text-white text-capitalize font-weight-bolder" for="">password</label>
            <input type="password" name="password" class="form-control">
        </div>

        <button type="submit" class="btn bg-secondary w-100 text-capitalize">sign in</button>

    </div>
</section>